<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <h1>
        <button mat-icon-button (click)="toggleSideBar()">
          <mat-icon>menu</mat-icon></button
        ><mat-icon> local_movies</mat-icon>Tamil Event in Germany
      </h1>
    </div>
    <div>
      <span><i class="material-icons">facebook</i></span>
      <span
        ><img
          src="../../../../assets/icons8-instagram-64.png"
          height="25px"
          alt=""
      /></span>
      <span><mat-icon>share</mat-icon></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
