<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Tamil Event in Germany</h2>
      <h4>let's unite together</h4>
    </div>
    <img src="../../../../assets/LogoMakr-1Qxjr7.png" alt="unite" />
  </div>
  <mat-divider></mat-divider>
  <h2 class="sub-head" mat-subheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home"
    >Home</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/event"
    >Event</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact"
    >contact</a
  >
  <mat-divider></mat-divider>
  <h2 class="sub-head" mat-subheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts"
    ><mat-icon>import_contacts</mat-icon> contacts</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/lead"
    ><mat-icon>contact_phone</mat-icon>Leads</a
  >
</mat-nav-list>
