<div class="container-sm">
  <div class="row">
    <h2>Recent Movies</h2>
    <div class="col-sm-3" *ngFor="let fd of dataSource; index as i">
      <div class="card" style="width: 18rem" *ngIf="i <= 7">
        <img
          src="../../../../assets/movie.jpg"
          class="card-img-top"
          alt="{{ fd.eventName }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ fd.eventName }}</h5>
          <p>{{ fd.ticketPrice }}</p>
          <p class="card-text">
            {{ fd.eventDescription }}
          </p>

          <a routerLink="/eventpage/{{ fd.id }}" class="btn btn-primary"
            >BUY NOW &nbsp;<i class="bi bi-bag"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
