<div class="container-sm menuPageID" *ngIf="dataSource.length > 0">
  <a routerLink="../../event"
    ><button class="btn btn-secondary">Back</button></a
  >
  <div class="row">
    <!-- selected order -->
    <div class="col-lg-6">
      <img src="../../../../assets/movie.jpg" width="100%" alt="" />
      <h2>{{ menuData.eventName }}</h2>
      <p>{{ menuData.eventDescription }}</p>
      <p>{{ menuData.ticketPrice }}</p>
    </div>

    <!-- details  -->
    <div class="col-lg-6">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="mobileNumber" class="form-label">Mobile Number</label>
          <input type="number" class="form-control" id="mobileNumber" />
        </div>

        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea class="form-control" id="floatingTextarea"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Book Ticket</button>
      </form>
    </div>
  </div>
</div>
